@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f3f3f3;
  font-family: "Poppins", sans-serif;
}
.box {
  position: relative;
  width: 10000px;
  height: 100vh;
  overflow: hidden;
 
}
.box h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 8rem;
  text-transform: uppercase;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.box h1:nth-child(2) {
  background: #f3f3f3;
  color: #fff;
  overflow: hidden;
  z-index: 2;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
}
.box h1:nth-child(2):hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.box h1:nth-child(1):hover ~ h1 {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

